<section id="contacto" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Charlamos un rato? <i style="color:brown" class="fa fa-coffee"></i></h2>
                <p>hagamos una app</p>
            </div>
			<form action="http://labcerouno.com/contacto.php" method="POST">
			<div align="center">
				<div class="form-group">				
					<input name="nombre" type="text" class="form-control" style="width: 50%" id="nombre" placeholder="Nombre"/> 
				</div>
				<div class="form-group">
					<input name="email" type="email" class="form-control" style="width: 50%" id="email" placeholder="E-mail"/> 
				</div>
				<div class="form-group">					
					<textarea name="msj" class="form-control" id="msj" style="width: 50%" placeholder="Escriba aquí su mensaje"></textarea> 
				</div>
			</div>
			<input class="btn btn-default" type="submit" value="ENVIAR MENSAJE" />			
			<h3>o enviénos un e-mail a <a href="mailto:admin@labCeroUno.com">admin@labcerouno.com</a></h3>
        </div>
    </div>
</section>
