<section id="quienessomos" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Somos un equipo de programadores multiplataforma</h2>
                <p>Ideamos, proyectamos, diseñamos y desarrollamos aplicaciones para celulares Android y iPhone, PCs Windows y Mac, televisores AppleTV o el dispositivo que necesites. </p>
                <div class="badges">
                    <span class="badge-link" href="#"><img src="/img/icons_multiplat.svg" alt=""></span>
                </div>
            </div>
        </div>
    </div>
</section>
