<section id="quote" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Charlamos un rato? <i style="color:brown"class="fa fa-coffee"></i></h2>
                <p>vamos, hagamos una app</p>
            </div>
			<form action="labcerouno.com/contacto.php" method="POST">
			Nombre: <input name="nombre" type="text"/> <br/>
			E-mail: <input name="email" type="email"/> <br/>
			Mensaje: <textarea name="msj">Escriba aquí su mensaje</textarea> <br/>
			<input type="submit" value="ENVIAR" />			
        </div>
    </div>
</section>
